// Place all the styles related to the customer::blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.btn-orange {
  color: white;
  background-color: #eb6100;
  border-bottom: 4px solid #b84c00;
  height: 40px;
}
a.btn-orange:hover {
  height: 37px;
  margin-top: 3px;
  color: white;
  background: #f56500;
  border-bottom: 3px solid #b84c00;

}
a.btn-orange-shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.index-body {
  width: 75%;
  margin: 0 auto;
}

.top {
  display: flex;
  margin-top: 40px;
  margin-left: 30px;

}

.blog {
  margin-right: 80px;
}

#anchor {
margin-left: 30px;
}

.field {
  font-size: 20px;
}

.form {
  margin-left: 40px;
  margin-bottom: 40px;
}

.btn-submit {
  width: 140px;
  height: 40px;
}

.show {
  width: 100%;
}


.sidebar {
  margin-top: 50px;
  width: 500px;
  margin-right: 100px;
}

// .comments {
// 	border: 2px solid #000000;
// 	width: 100px;
// 	height: 50px;
// }

.blog-title {
  font-size: 35px;
}

.blog-text {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
}

.blog-time {
  font-size: 15px;
}

.customer-name {
  font-size: 20px;
}