// Place all the styles related to the customer::blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  div.blog {
   background-color: #FFDBC9;
  }
}

a.btn-orange {
  color: white;
  background-color: #eb6100;
  border-bottom: 4px solid #b84c00;
  height: 40px;
}
a.btn-orange:hover {
  height: 37px;
  margin-top: 3px;
  color: white;
  background: #f56500;
  border-bottom: 3px solid #b84c00;

}
a.btn-orange-shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}


.index-body {
  width: 90%;
  margin: 0 auto;
}

span.top-title {
  font-size: 40px;
  padding: 5px 30px;
  background-color: #EEEEEE;
  border-radius: 10px;
  letter-spacing: 3px;
}

.blog-count {
  margin-top: 10px;
}


.top {
  display: flex;
  margin-top: 40px;
  margin-left: 30px;

}

.blog {
  margin-right: 80px;
}

.field {
  font-size: 20px;
}

.form {
  margin-left: 40px;
  margin-bottom: 40px;
}

.btn-submit {
  width: 140px;
  height: 40px;
}

.show {
  width: 100%;
}

.split{
  display: table;
  width: 100%;
}

.split-item{
  display: table-cell;
  padding: 50px;
  width: 50%;
}

.split-left{
  position: relative;
  margin-right: 30px;

}

.profile-image {
  border-radius: 10px;
}


.split-left__inner{
  height: 100%;
  width: 95%;
}

.display {
  font-size: 30px;
  display: flex;
}

.title {
  padding-left: 10px;
}

.blog-text {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
}

.blog-time {
  font-size: 15px;
}

.customer-name {
  font-size: 16px;
  padding-top: 1px;
  padding-left: 5px;
}

.comments {
  width: 450px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
}

.comment-time {
  font-size: 13px;
}

@media screen and (max-width:1024px) {
    .split{
        display: block;
    }
    .split-item{
        display: block;
        width: auto;
    }
    .split-left__inner{
        position: inherit;
        width: auto;
    }
}