// Place all the styles related to the customer::events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// body {
//   div.event {
//   background-color: #FFD5EC;
//   }
//   }


//↓↓↓new

.new-body {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.new-date-form {
  width: 180px;
  height: 40px;
}

.new-form {
  width: 70%;
  height: 40px;
}

.registration-button {
  font-size: 30px;
  width: 140px;
  height: 50px;
}

.new-message-form {
  width: 95%;
  height: 400px;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
.new-body {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.new-form {
  width: 95%;
  height: 40px;
}
.new-event {
  font-size: 25px;
}
}

//↑↑↑new
//以下search画面レイアウト

#search-main{
	width: 100%;
  text-align: center;
}

.condition {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.search-list {
  font-size: 20px;
  margin-top: 20px;
}

.search-top {
  width: 90%;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 3px;
}

.search {
  text-align: center;
}

.search-button {
  width: 160px;
  height: 50px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.start-time-form {
  width: 200px;
  height: 35px;
}

.artistname-form {
  width: 450px;
  height: 35px;
}

.message-form {
  width: 450px;
  height: 80px;
}

.result {
  width: 95%;
  margin: 0 auto;
}

.result-customer {
  width: 300px;
  margin: 10px 0;
  padding: 20px 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  background-color: white;
  box-shadow: 2px 2px 3px #ccc;
}

.result-detail-button {
  width: 150px;
  height: 45px;
}


@media only screen and (max-width: 580px) {
  .search-top {
    text-align: center;
  }

  .condition {
  width: 100%;
  }

  .start-time-form {
  width: 140px;
  }

  .artistname-form {
    width: 90%;
    height: 30px;
  }

  .message-form {
    width: 90%;
  }

  .result {
  width: 100%;
  margin: 0 auto;


  }

.result-customer {
  width: 95%;
  margin: 10px auto;
  display: block;
}

}

//↑↑↑search画面レイアウト
//以下show画面レイアウト

.split{
  display: table;
  width: 100%;
}

.split-item{
  display: table-cell;
  padding: 50px;
  width: 50%;
}

.split-left{
  position: relative;
  margin-right: 30px;
}


.profile-image {
  border-radius: 10px;
  margin: 0;
}

.event-show-detail {
  font-size: 20px;
  //line-height: 2em;
  margin-top: 20px;
}


.split-left__inner{
  height: 100%;
  width: 95%;
}

.comment-area {
  width: 430px;
  height: 250px;
}

.comments {
  width: 450px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  background-color: white;
  box-shadow: 2px 2px 3px #ccc;
}

.customer-name {
  font-size: 16px;
  padding-top: 1px;
  padding-left: 5px;
}

.comment-time {
  font-size: 13px;
}

@media screen and (max-width: 1024px) {
    .split{
        display: block;
        width: 100%;
    }

    .split-item{
        display: block;
        width: 100%;
        text-align: center;
    }

    .split-left__inner{
        position: inherit;
        width: 100%;
    }

    .comments {
      display: block;
    }
}


@media screen and (max-width: 580px) {
    .split-right {
      width: 95%;
  		left: 3%;
  		margin-right: 3%;
  		margin-left: 2%;
  		padding-left: 3%;
  		padding-right: 3%;
    }

    .sending {
      display: block;
      text-align: center;
    }

    .comment-area {
      width: 100%;
      height: 250px;
    }

    .comments {
      width: 100%;
      display: block;
    }
}

//↑↑↑show画面レイアウト
//↓↓↓detail

#comment-index-form {
    padding: 0.5em 1em 3em;
    margin: 2em 0;
    background: #FFF;
    border: solid 3px #6091d3;
    border-radius: 10px;
    width: 60%;
    margin: 40px auto 0;
    text-align: center;
    background-color: #fffaf0;
}

.comment-index-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0px 7px;
}

.comment-profile-image {
  border-radius: 10%;
}

.no-comment-history {
  margin-top: 60px;
}



@media only screen and (max-width: 580px) {
	#comment-index-form{
	  width: 98%;
		left: 1%;
		margin-right: 1%;
		margin-left: 1%;
		padding-left: 1%;
		padding-right: 1%;
	}

	.comment-index-table {
  width: 100%;
	}
}


