// Place all the styles related to the customer::events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.split{
  display: table;
  width: 100%;
}

.split-item{
  display: table-cell;
  padding: 50px;
  width: 50%;
}

.split-left{
  position: relative;
  margin-right: 30px;

}

.profile-image {
  border-radius: 10px;
}


.split-left__inner{
  height: 100%;
  width: 95%;
}


//以下sesrch画面レイアウト

#search-main{
	width: 100%;
}


.search-body {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.search-table {
  width: 45%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0px 8px;
}


.search-top {
  width: 90%;
  margin: 0 auto;
  letter-spacing: 3px;
}

.search {
  text-align: center;
}

.search-button {
  width: 140px;
  height: 45px;
  margin-bottom: 30px;
}

.start-time-form {
  width: 200px;
  height: 35px;
}

.artistname-form {
  width: 400px;
  height: 35px;
}

.message-form {
  width: 400px;
  height: 60px;
}

.result {
  width: 95%;
  margin: 0 auto;
}

.result-table {
  border-width: 1px 0px;
}

.result-th {
  text-align: center;
}

.result-td {
  text-align: center;
}

@media only screen and (max-width: 580px) {
  .search-top {
    text-align: center;
  }

  .search-table td {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }


  .artistname-form {
    width: 200px;
    height: 30px;
  }

.message-form {
    width: 200px;
    height: 40px;
  }


  .result-table th,
  .result-table td {
    display: block;
    width: 100%;
  }

}

//↑↑↑search画面レイアウト

.comments {
  width: 450px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
}

.display {
  font-size: 30px;
  display: flex;
}

.customer-name {
  font-size: 16px;
  padding-top: 1px;
  padding-left: 5px;
}

.comment-time {
  font-size: 13px;
}

@media screen and (max-width:1024px) {
    .split{
        display: block;
    }
    .split-item{
        display: block;
        width: auto;
    }
    .split-left__inner{
        position: inherit;
        width: auto;
    }
}


