<div id="about-container">
  <div class="form">
    <h1 class="about-top">
      <span class="about-top">LiveMatchingとは</span>
    </h1>
      <div class="about-text">
        アーティストのライブ・コンサートへ一緒に参加する仲間を探したい<br>
        初めてライブ・コンサートに参加するので、色々なことを知りたい<br>
        同じアーティストが好きな仲間とコミュニケーションを楽しみたい
      </div>

      <div>そんな人達が、気軽に仲間を探したり、コミュニケーションを取ることが出来るサイトです！</div>
</div>
<div class="form">
    <h1 class="about-top">
      <span class="about-top">LiveMatchingで出来ること</span>
    </h1>

      <div class="about-explanation">イベントに参加する日程を登録する</div>
        <div class="about-text">
          イベントに参加する日付・アーティスト名・メッセージなどを登録してみましょう！<br>
          他のユーザーがコメント出来るようになり、交流のきっかけになります。<br>
          登録した内容がカレンダーに表示されるので、スケジュールの確認もしやすくなります。
        </div>

      <div class="about-explanation">同じアーティストが好きな人と交流する</div>
        <div class="about-text">
          参加する日付・アーティスト名などを検索し、同じイベントに参加する仲間を探すことが出来ます。<br>
          仲間を見つけたら、話しかけたり、フォローしたりしてみましょう！<br>
          フォローすると、ブログの閲覧やコメントが出来るようになります。
        </div>

      <div class="about-explanation">今までの思い出を残す</div>
        <div class="about-text">
          楽しかった思い出・写真などをブログに投稿してみましょう！<br>
          フォロワーとよりコミュニケーションを楽しむことができます。
        </div>
  </div>
</div>