<h1 class="about-main">
  <span class="about-main">LiveMatchingとは</span>
</h1>
  <p>アーティストのライブ・コンサートへ一緒に参加する仲間を探したい<br>
  初めてライブ・コンサートに参加するので、色々なことを知りたい<br>
  同じアーティストが好きな仲間とコミュニケーションを楽しみたい</p>

  <p>そんな人達が、気軽に仲間を探したり、コミュニケーションを取ることが出来るサイトです！</p>


<h1 class="about-main">
  <span class="about-main">LiveMatchingで出来ること</span>
</h1>

  <div class="about-explanation">イベントに参加する日程を登録する</div>
    <p>
      イベントに参加する日付・アーティスト名・メッセージなどを登録してみましょう！<br>
      他のユーザーがコメント出来るようになり、交流のきっかけになります。<br>
      登録した内容がカレンダーに表示されるので、スケジュールの確認もしやすくなります。
    </p>

  <div class="about-explanation">同じアーティストが好きな人と交流する</div>
    <p>
      参加する日付・アーティスト名などを検索し、同じイベントに参加する仲間を探すことが出来ます。<br>
      仲間を見つけたら、話しかけたり、フォローしたりしてみましょう！<br>
      フォローすると、ブログの閲覧やコメントが出来るようになります！
    </p>


  <div class="about-explanation">今までの思い出を残す</div>
    <p>
      楽しかった思い出・写真などをブログに投稿してみましょう！<br>
      フォロワーとよりコミュニケーションを楽しむことができます！
    </p>
