// Place all the styles related to the admin::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//↓↓↓index

.admin-layout {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.admin-customer-top {
  margin: 25px 0;
}

.admin-paginate {
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 580px) {
  .admin-layout {
  width: 100%;
  }
}

//↑↑↑index
//↓↓↓edit

.admin-edit-introduction {
  width: 400px;
  height: 350px;
}

.admin-edit-actions {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 20px;
  width: 150px;
  height: 45px;
}
