<h2>フォロー一覧</h2>
<% if @customers.exists? %>
  <thead>
    <tr>
      <th>name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= image_tag customer.profile_image.to_s, :size =>'50x50' %></td>
        <td><%= link_to(customer.name, customer_path(customer)) %></td>
        <td><%= customer.introduction %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>