/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #bc8f8f;
  height: 70px;
  line-height: 70px;
}

.headertitle:hover {
  color: #4b4b4b;
  text-decoration: none;
}


.headertitle {
  text-decoration: none;
  color: #4b4b4b;
  font-size: 30px;
  margin-left: 30px;
}

.nav {
  list-style: none;
  float: right;
}

.welcome {
  font-size: 20px;
  margin-right: 100px;
  color: white;
}

.headericon {
  width: 150px;
  height: 40px;
  font-size: 20px;
  color: white;
  margin-right: 35px;
}

.headericon:hover {
  color: white;
  text-decoration: none;
}

.wrapper{
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;
}


footer {
  width: 100%;
  padding: 10px 0;
  background-color: #faf0e6;
  position: absolute;
  bottom: 0;
}

.footertext {
  display: flex;
  justify-content: center;
  align-items: center;
}
