/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 /*
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  div.background {
  background-color: #fffaf0;
  }
}

//ハンバーガーメニュー

nav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: #999999;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
}

.open nav {
  left: 0;
  opacity: 1;
}

nav .inner {
  padding: 25px;
}

nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}

nav .inner ul li:hover {
  background: #e4e4e4;
}

@media screen and (max-width: 767px) {
  nav {
    left: -220px;
    width: 220px;
  }
}

.toggle_btn {
  display: block;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}

.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all .5s;
}

.toggle_btn span:nth-child(1) {
  top: 4px;
}

.toggle_btn span:nth-child(2) {
  top: 14px;
}

.toggle_btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle_btn span {
  background-color: #fff;
}

.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}

.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}

.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}

#mask {
  display: none;
  transition: all .5s;
}

.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
}
//↑↑↑ハンバーガーメニュー
//ヘッダーレイアウト

.header {
  background-color: #e9967a	;
  height: 70px;
  line-height: 70px;
}

.headertitle {
  font-family: 'Chalkboard SE','Palatino Linotype','Arial Rounded MT Bold',sans-serif;
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-left: 30px;
  letter-spacing: 2px;
}

.headertitle:hover {
  color: white;
  text-decoration: none;
}

.nav {
  list-style: none;
  float: right;
}

.header-font {
  font-size: 20px;
  color: white;
}

.headericon {
  width: 150px;
  height: 40px;
  font-size: 20px;
  color: white;
  margin-right: 35px;
}

.headericon:hover {
  color: white;
  text-decoration: none;
}

// @media only screen and (max-width: 580px) {


//   .nav_toggle {
//   display: block;
//   position: relative;
//   width: 1.75rem;
//   height: 1.5rem;
// }
// .nav_toggle i {
//   display: block;
//   width: 100%;
//   height: 2px;
//   background-color: #333;
//   position: absolute;
//   transition: transform .5s, opacity .5s;
// }
// .nav_toggle i:nth-child(1) {
//   top: 0;
// }
// .nav_toggle i:nth-child(2) {
//   top: 0;
//   bottom: 0;
//   margin: auto;
// }
// .nav_toggle i:nth-child(3) {
//   bottom: 0;
// }



// }



//↑↑↑ヘッダーレイアウト
//以下フッター

.wrapper{
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;
    width: 100%;
}

footer {
  width: 100%;
  padding: 10px 0;
  background-color: #e9967a	;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
}

.footertext {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

//↑↑↑フッターレイアウト
//以下ログイン(会員・管理者)画面レイアウト

#form-main{
	width: 100%;
	float: left;
	padding-top: 0px;
}

#signin-form {
  text-align: center;
	background-color: #dcdcdc;
	opacity: 0.8;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  border-radius: 7px;
}

.signin-field {
  font-size: 20px;
  padding-top: 20px;
}

.signin-actions {
  margin-top: 30px;
  margin-bottom: 90px;
  font-size: 20px;
  width: 150px;
  height: 45px;
}

@media only screen and (max-width: 580px) {
	#signin-form{
	  width: 90%;
		left: 3%;
		margin-right: 3%;
		margin-left: 2%;
		padding-left: 3%;
		padding-right: 3%;
	}
}
//----↑ログイン画面レイアウト----
//以下新規登録画面レイアウト

#signup-form {
  text-align: center;
	background-color: #dcdcdc;
	opacity: 0.8;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 35px;
	padding-bottom: 50px;
	width: 750px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top: 50px;
  margin-left: -400px;
  border-radius: 7px;
}

.signup-table {
  width: 85%;
  margin: 0 auto;
  font-size: 20px;
  border-collapse: separate;
  border-spacing: 0px 15px;
}

.signup-box {
  width: 300px;
}

.signup-actions {
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 20px;
  width: 150px;
  height: 45px;
}

@media only screen and (max-width: 580px) {
	#signup-form{
	  width: 90%;
		left: 3%;
		margin-right: 3%;
		margin-left: 2%;
		padding-left: 3%;
		padding-right: 3%;
	}

	.signup-table td {
    display: block;
    width: 100%;
	}
}

//↑↑↑新規登録画面レイアウト
//以下マイページ編集画面レイアウト

div.mypage-edit-title {
  margin-top: 30px;
  margin-left: 60px;
  margin-bottom: 35px;
}

span.mypage-edit-title {
  font-size: 40px;
  padding: 5px 30px;
  background-color: #EEEEEE;
  border-radius: 10px;
  letter-spacing: 3px;
}

.mypage-edit-image {
  width: 70%;
  margin: 0 auto;
}

.mypage-edit-table {
  width: 75%;
  margin: 20px auto;
}

.edit-actions {
  text-align: center;
}

.mypage-edit-actions {
  margin-top: 30px;
  font-size: 20px;
  width: 170px;
  height: 50px;
}

.back-actions {
  text-align: center;
  margin-top: 20px;
}

.edit-introduction {
  width: 550px;
  height: 300px;
}


@media only screen and (max-width: 580px) {
  span.mypage-edit-title {
    font-size: 30px;
    padding: 3px 20px;
    background-color: #EEEEEE;
    border-radius: 8px;
    letter-spacing: 2px;
  }

	.mypage-edit-table td {
    display: block;
    width: 100%;
	}

	.edit-introduction {
  width: 300px;
  height: 250px;
  }
}
